.base {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.base {
    background-image: url('https://t3.ftcdn.net/jpg/01/21/23/60/500_F_121236045_fvhkcGFWa32jPLK24p3sh2midnFwTWCz.jpg');
    
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}