 
  <nav class="deep-orange white-text">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo white-text">
        <table style="margin: -17px 0px;">
          <tr>
            <!-- <td>  <img src="assets/images/logo.jpg" class="circle responsive-img brand-pic"></td> -->
            <td> <span class="brand-name">Company Name</span></td>
          </tr>
        </table>
      
       </a>
       <a href="#" data-activates="mobile-demos" class="button-collapse"><i class="black-text material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
       
          <li routerLinkActive="active"><a routerLink="/home"  style="color:#fff" >Home</a></li>
          <li *ngIf="!isAuthorized" routerLinkActive="active"><a routerLink="/login"  style="color:#fff" >Login</a></li>
          <li *ngIf="isAuthorized" routerLinkActive="active"><a routerLink="/login"  style="color:#fff" >Logout</a></li>
          <li routerLinkActive="active"><a routerLink="/profile"  style="color:#fff" >My Account</a></li>

      
      </ul>
      <ul class="side-nav" id="mobile-demos">
         
          <li routerLinkActive="active"><a routerLink="/home"  style="color:#1b202e" >Home</a></li>
          <li *ngIf="!isAuthorized" routerLinkActive="active"><a routerLink="/login"  style="color:#1b202e" >Login</a></li>
          <li *ngIf="isAuthorized" routerLinkActive="active"><a (click)="logout()"  style="color:#1b202e" >Logout</a></li>
          <li routerLinkActive="active"><a routerLink="/profile"  style="color:#1b202e" >My Account</a></li>
        </ul>
    </div>
  </nav>
